.container {
  height: 3rem;
  display: flex;
  align-items: center;
}

.input {
  flex-grow: 1;
  height: 2.5rem;
  border: 0;
  padding: 0 1rem;
  border-radius: 0.25rem;
  margin-bottom: 0.5rem;
}

.input:focus {
  outline: none;
  border-bottom: 1px solid #535bf2;
}

.delete {
  background-color: transparent;
}